
.container
{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}

.row
{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px
}
.btn
{
    display:inline-block;
    font-weight:400;
    color:#007bff;
    text-align:center;
    vertical-align:middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-color:transparent;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
    border-radius:.25rem;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.btn-primary
{
    color:#007bff;
    background-color:#007bff;
    border-color:#007bff;
    display: inline-block;
}
.form-group
{
    display:-ms-flexbox;
    display:flex;
    -ms-flex:0 0 auto;
    flex:0 0 auto;
    -ms-flex-flow:row wrap;
    flex-flow:row wrap;
    -ms-flex-align:center;
    align-items:center;
    margin-bottom:0
}
.form-control
{
    display:block;
    width:100%;
    height:calc(1.5em + .75rem + 2px);
    padding:.375rem .75rem;font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#495057;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    border-radius:.25rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.col-md-6
{
    -ms-flex:0 0 50%;
    flex:0 0 50%;
    max-width:50%
}
  body
  {
      background-image: url(https://previews.123rf.com/images/siraphol/siraphol1508/siraphol150803612/44023975-empty-sea-and-beach-background-with-copy-space.jpg);
      /* background-image:  url(img.jpg); */
        
        background-size: cover;
        background-position: center;;
      
  }
  .login_box
  {
      max-width: 700px;
      float: none;
      margin:150px auto;

  }
  .login-left
  {
      background: rgba(211,211,211,0.5);
      padding: 30px;
      
  }
  .login-right
  {
      background:  rgba(211,211,211,0.5);;
      padding:30px;
      position: relative;
  }

  footer
  {
      font-size: 40px;
      display: block;
  }
  form.logform 
  {
	background: white;
	border: 10px solid #3c538b;
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	opacity: 0.9;
    color: black;
}
.mylink {
	position: absolute;
	bottom: 10%;
	border: 1px solid #3c538b;
	padding:15px;
	background: white;
	color: black;
}

.mylink:hover {
	background-color: #3c538b;
	color: white;
}

#message {
    display:none;
    padding:20px;
    margin-top:30px;
    position:relative;
    background:#f1f1f1;
}
#adminH{
    text-align:center;
    margin-bottom:50px;
}
#message p {
    font-size:18px;
    padding:10px 35px;
}

.valid {
    color:green;
}
.valid:before {
    left: -35px;
    content:".";
    position:relative;
}

.invalid {
    color:red;
}
.invalid:before {
    left: -35px;
    content: ".";
    position:relative;
}

